:root {
  --mainOrange: #e19724;
  --mainGrey: #b8b6b4;
  --mainWhite: #f3f3f3;
  --lightDark: #4b4a49;
  --mainDark: #232528;
  --mainYellow: #e8cc3A;
  --mainBlack: #0f0e0e;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

.text-yellow {
  color: var(--mainOrange)
}

.text-bright {
  color: var(--mainYellow);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0rem !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;

}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}